
* {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	word-break: break-word;
	&:focus{
		box-shadow: none;
	}
}
ul, h1, h2, h3, h4, h5, h6, p {
	margin: 0px;
	text-rendering: auto;
}

ul, ol, li {
	list-style-type: none;
	padding: 0;
}
html{
	scroll-behavior: smooth;
	font-family: 'DM Sans', sans-serif;
}

html, body {
	height: 100%;
	font-family: 'DM Sans', sans-serif;
}

body {
	width: 100%;
	height: 100%;
	font-size: 15px;
	-webkit-tap-highlight-color: transparent !important;
	-webkit-text-size-adjust: 100%;
	font-variant-ligatures: none;
	-webkit-font-variant-ligatures: none;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

*:before, *:after {
	-webkit-tap-highlight-color: transparent !important;
}
body,
ul,
figure {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
a {
	color: $link-color;
	text-decoration: none;
	cursor: pointer;
	&:hover, &:focus, &:active {
		text-decoration: none;
		cursor: pointer;
		color: darken($link-color, 10);
	}
}
p{
	font-size: 15px;
}
%all-animation {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	box-shadow: 0 0 0 30px transparent inset !important;
  -webkit-box-shadow: 0 0 0 30px transparent inset !important;
	transition: background-color 5000s ease-in-out 0s !important;
}
select::-ms-expand {
  display: none;
}
input::-ms-clear,
input::-ms-reveal {
  display: none;
}
input,
select,
textarea {
  vertical-align: middle;
  -webkit-appearance: none;
	border-radius: 0;
	resize: none;
}
.cursor-pointer{
	cursor: pointer;
}
@mixin truncate($truncation-boundary) {
	max-width: $truncation-boundary;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
