// slick
/* Slider */
.slick-slider {
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: 0;
  margin-right: 0;
}
.slick-track:before,
.slick-track:after {
  display: table;

  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

.slider-for {
  img {
    height: 660px;
    width: 100%;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    @media screen and (max-width: 992px) {
      height: 600px;
    }
    @media screen and (max-width: 767px) {
      height: 440px;
    }
  }
}
.slider-nav {
  img {
    height: 120px;
    width: 120px;
    margin-top: 12px;
    cursor: pointer;
    object-fit: cover;
    @media screen and (max-width: 992px) {
      height: 165px;
      width: 165px;
    }
    @media screen and (max-width: 767px) {
      height: 75px;
      width: 75px;
    }
    @media screen and (min-width: 993px) and (max-width: 1200px) {
      height: 100px;
      width: 100px;
    }
  }
}
.slick-arrow {
  position: absolute;
  bottom: 40%;
  font-size: 0;
  background: url(../images/icon-dropdown.svg) no-repeat;
  width: 10px;
  height: 13px;
  border-width: 0;
  background-color: transparent;
  cursor: pointer;
  &.slick-next {
    cursor: pointer;
    right: -62px;
    // transform: rotate(-90deg);
    @media screen and (max-width: $desktop - 1) {
      right: -10px;
    }  
  }
  &.slick-prev {
    cursor: pointer;
    left: -62px;
    transform: rotate(-180deg);
    @media screen and (max-width: $desktop - 1) {
      left: -10px;
    }  
  }
}

.fancybox-is-open .fancybox-bg {
  opacity: .76 !important;
}
.fancybox-bg {
  background: #000 !important;
}
.fancybox-button--zoom, .fancybox-button--play, .fancybox-button--thumbs{
  display: none !important;
}
.slick-slide{
  img{
    opacity: 0.8;
  }
  &.slick-current{
    img{
      opacity: 1;
    }
  }
}
