/*=============================================
*   screen width
=============================================*/

$phone-landscape: 576px;
$tablet-portrait: 768px;
$tablet-landscape: 992px;
$desktop: 1200px;
$desktop-mini: 1280px;
$desktop-hd: 1441px;



//-----------Custom variables will goes here
$white:                                         #FFF;
$black:                                         #000;


$theme-color:                                   #0f215b !default;
$theme-text:                                    #454545 !default;
$theme-secondary-text:                          #000000 !default;
$secondary-para-text:                           #454545 !default;
$theme-main-background:                         #0f215b !default;

$link-color:                                    #0f215b !default;
$main-border-color:                             #e1eaff !default;


$input-background:                              #FFF;
$input-border-color:                            #969696;
$input-border-active-color:                     #e1e7f6;
$input-placeholder:                             #969696;
$input-text:                                    #000000;
$input-label-color:                             #969696;
$error-color:                                   #fe2842;
$input-focus-border-color:                      #4880ff;



// custom dropdown
$dropdown-background:                           #f3f3f6;



// dashboard

$left-nav-background:                            #FFFFFF;
$left-nav-active-background:                      #f3f6ff;
$left-nav-icons-color:                           #979797;
$nav-icons-color:                                #DCDDE3;
$nav-icons-active-color:                         #4880ff;

$search-border:                                  #e3e4e8;
